@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: monospace;
}

body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.navbar {
  background-color: #599748;
  color: white;
  padding: 1rem 0;
  border-radius: 0 0 20px 20px;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2em;
}

.sub-logo-text {}

.nav-links {
  display: flex;
  list-style: none;
  padding-right: 2em;
  font-size: 16px;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.home-container {
  padding: 2em 0 4em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 4em;
}

.plant-box {
  border: solid #7b8f76;
  border-radius: 2em;
  min-width: 22em;
  min-height: 18em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.plant-name {
  font-size: 16px;
  font-weight: bolder;
}

.humidity-combobox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 2em;
}

.circular-indicator {
  display: inline-block;
}

.circular-indicator circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.detail-square {
  border: solid #7b8f76;
  margin: 2em;
  border-radius: 2em;
  align-items: center;
}


.detail-box {
  align-items: center;
  margin: 0 2em;
}

.detail-container {}

.image-container-detail {}

.chart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.detail-text {
  font-size: 18px;
  white-space: pre-wrap;
}

.large-name {
  font-size: xx-large;
}

.large-name {
  font-size: xx-large;
}

footer {
  padding-bottom: 6px;
}

.footer-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}